.foodUploadWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 35rem;
}

.wrapperSection {
    display: flex;
    justify-content: space-between;
    width: 50%;
    border: 1px solid black;
}